.review-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  padding: 15px 15px 15px 15px;
  border-radius: 5px;
  border-bottom: 6px solid #cdcdd2;
}

.review-modal:focus {
  outline: none;
}

.review-modal-header {
  width: 100%;
}

.review-modal-title {
  float: left;
  font-weight: 600;
  font-size: 16px;
  position: relative;
  top: 6px !important;
}

.review-modal-btn {
  float: right;
  border-radius: 50%;
  padding: 5px;
}

.review-modal-btn:hover {
  cursor: pointer;
  background-color: rgba(112, 112, 112, 0.06);
}

.review-modal-btn:focus {
  outline: none;
}

.review-modal-ratings-container {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review-modal-rating-container {
  margin-top: 25px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-modal-rating-container:hover {
  cursor: pointer;
  background-color: rgba(112, 112, 112, 0.06);
}

.review-modal-rating {
  font-size: 23px;
  width: 100%;
  text-align: center;
}

.review-modal-description-modal {
  margin-top: 30px;
  padding: 5px 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  height: 100px;
  min-height: 100px !important;
  background-color: #f1f1f1;
  font-weight: 500;
  font-size: 14px;
}

.review-modal-description-modal:focus {
  outline: none;
}

.review-modal-post-review-btn {
  margin-top: 30px;
  padding: 8px 0px 8px 0px;
  width: 100%;
  height: 40px;
  text-align: center;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  color: white;
  background-color: #2ecc71;
}

.review-modal-post-review-btn:hover {
  background-color: #2bc16b;
}

.review-modal-post-review-btn:focus {
  outline: none;
}

@media only screen and (max-width: 450px) {
  .review-modal {
    width: 95%;
    padding: 20px 18px;
  }
}
