.card-form-wrapper {
  width: 100%;
  max-width: 640px;
  padding: 35px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 0px -1px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0px 5px 0px -1px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 5px 0px -1px rgba(0, 0, 0, 0.17);
  display: flex;
  justify-content: center;
  align-content: center;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #a3a3a3;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #a3a3a3;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #a3a3a3;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #a3a3a3;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #a3a3a3;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: #a3a3a3;
}

.card-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 80%;
}

.card-form-error-text {
  font-size: 16px;
  color: rgb(252, 86, 86);
}

.card-form-backdrop-image-container {
  margin-top: 30px;
  width: 127.5%;
  height: 180px;
  border-radius: 5px;
  background-color: #f1f1f1;
  background-color: #505050a8;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.card-form-backdrop-image-btns-container {
  display: flex;
  align-self: flex-end;
}

.card-form-backdrop-image-btn {
  height: 35px;
  width: 35px;
  border: none;
  border-radius: 50%;
  background-color: rgba(46, 204, 113, 0.25);
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.card-form-backdrop-image-btn:hover {
  cursor: pointer;
}

.card-form-backdrop-image-btn:focus {
  outline: none;
}

.card-form-backdrop-image-spinner-loader-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-form-business-img-container {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: -65px;
  border: 6px solid #ffffff;
}

.card-form-delete-business-img {
  margin-top: 15px;
}

.card-form-business-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.card-form-business-img:hover {
  cursor: pointer;
}

.card-form-file-button {
  display: none;
}

.card-form-file-label {
  margin-top: 15px;
  margin-bottom: 0px;
  width: 100%;
  height: 40px;
  background-color: rgba(255, 83, 73, 0.3);
  border: none;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.card-form-file-label:hover {
  cursor: pointer;
}

.card-form-image-cropper-modal-wrapper {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.82);
  z-index: 9999999999 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-form-image-cropper-modal-container {
  width: 300px;
  padding: 15px 15px 15px 15px;
  border-radius: 5px;
  border-bottom: 6px solid #cdcdd2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-form-image-cropper {
  margin-top: 15px;
  position: relative;
  height: 200px;
  width: 100%;
  border-radius: 5px;
}

.reactEasyCrop_Container {
  border-radius: 5px !important;
}

.card-form-image-cropper-controls {
  margin-top: 15px;
  height: auto;
  width: 100%;
}

.range-slider--original::-webkit-slider-thumb {
  background: #2ecc71 !important;
}
.range-slider--original::-moz-range-thumb {
  background: #2ecc71 !important;
}
.range-slider--original::-ms-thumb {
  background: #2ecc71 !important;
}

.card-form-input {
  margin-top: 30px;
  width: 100%;
  height: 40px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: 500;
}

.card-form-input:focus {
  outline: none;
}

.card-form-location-fields {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  width: 100%;
}

.card-form-input-location {
  width: 48%;
  height: 40px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: 500;
}

.card-form-input-location:focus {
  outline: none;
}

.card-form-dropdown-container {
  margin-top: 30px;
  width: 100%;
}

.card-form-state-dropdown-container {
  width: 48%;
}

.card-form-input-large {
  margin-top: 30px;
  width: 100%;
  height: 100px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: 500;
}

.card-form-input-large:focus {
  outline: none;
}

.card-form-description-text-container {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-form-description-error-text {
  margin: 0;
  width: 100%;
  text-align: left;
  color: red;
}

.card-form-description-count {
  margin: 0;
  text-align: right;
}

.card-form-contact-fields {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  width: 100%;
}

.card-form-input-contact {
  width: 48%;
  height: 40px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: 500;
}

.card-form-input-contact:focus {
  outline: none;
}

.card-form-email-error-text {
  margin-top: 10px;
  margin-bottom: 0 !important;
  width: 100%;
  text-align: right;
  color: red;
}

.card-form-button {
  margin-top: 30px !important;
  margin-bottom: 0px !important;
  width: 100% !important;
  height: 40px !important;
  background-color: #2ecc71 !important;
  border: none !important;
  border-radius: 5px !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-content: center !important;
  outline: none !important;
}

.card-form-button:hover {
  background-color: #2bc16b !important;
  cursor: pointer;
}

.card-form-add-payment-button {
  margin-top: 10px !important;
  margin-bottom: 0px !important;
  width: 100% !important;
  height: 40px !important;
  background-color: #2ecc71 !important;
  border: none !important;
  border-radius: 5px !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-content: center !important;
  outline: none !important;
}

.card-form-add-payment-button:hover {
  background-color: #2bc16b !important;
  cursor: pointer;
}

.card-form-button-text {
  width: 100% !important;
  text-align: center !important;
  color: #ffffff;
  font-weight: 600;
}

.card-form-button:hover {
  cursor: pointer;
}

.card-form-button-text:hover {
  cursor: pointer;
}

.card-form-products-services-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 10px;
}

.card-form-product-service-inputs-container {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.card-form-product-service-title-input {
  width: 100%;
  margin-top: 10px;
  margin-right: 10px;
  height: 40px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 14px;
}

.card-form-product-service-price-input {
  width: 25%;
  margin-top: 10px;
  margin-left: 10px;
  height: 40px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 14px;
}

.card-form-product-service-description-input {
  margin-top: 30px;
  width: 100%;
  height: 100px;
  min-height: 100px !important;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 14px;
}

.card-form-product-service-description-input:focus {
  outline: none;
}

.card-form-product-service-text {
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  top: 9px;
  font-size: 18px;
}

.card-form-product-service-title-input:focus {
  outline: none;
}

.card-form-product-service-price-input:focus {
  outline: none;
}

.card-form-product-service-description-count {
  margin-top: 5px;
  width: 100%;
  text-align: right;
}

.card-form-product-service-buttons-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.card-form-offering-button {
  border: none;
  background-color: white;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 400;
}

.card-form-offering-button:focus {
  outline: none;
}

.card-form-offering-button:hover {
  border-radius: 5px;
  background-color: rgba(112, 112, 112, 0.06);
  cursor: pointer;
}

#cardFormProductServiceDeleteBtn {
  margin-left: 10px;
  padding: 8px 12px !important;
  height: 37px;
}

.card-form-delete-offering-modal {
  padding: 10px 20px;
  width: 158px;
  align-self: center;
  z-index: 1000000 !important;
  border-radius: 5px;
  border-top: 1px solid #d1d2d5;
  border-right: 1px solid #d1d2d5;
  border-left: 1px solid #d1d2d5;
  -webkit-box-shadow: 0px 5px 0px -1px #cdcdd2;
  -moz-box-shadow: 0px 5px 0px -1px #cdcdd2;
  box-shadow: 0px 5px 0px -1px #cdcdd2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card-form-delete-offering-modal-question {
  font-size: 15px;
  color: #000000de;
}

.card-form-delete-offering-modal-button {
  margin: 10px;
  margin-top: 15px;
  border: none;
  background: white;
  font-size: 14px;
  margin-bottom: 0 !important;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.card-form-delete-offering-modal-button:focus {
  outline: none;
}

.card-form-delete-offering-modal-button:hover {
  background-color: #a3a3a32f;
  border-radius: 5px;
}

.card-form-social-media-inputs-animation-wrapper {
  width: 100%;
}

.card-form-social-media-inputs-container {
  width: 100%;
  margin-top: 20px;
}

.card-form-social-media-icon-wrapper {
  position: relative;
  float: left;
  top: 75px;
  left: 10px;
}

.card-form-social-media-input-group:first-of-type
  .card-form-social-media-icon-wrapper {
  top: 33px;
}

.card-form-social-media-input {
  width: 100%;
  height: 45px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  padding-left: 35px;
  font-weight: 500;
  font-size: 14px;
  float: left;
}

.card-form-social-media-input:focus {
  outline: none;
}

.card-form-social-media-input-group {
  width: 100%;
  padding: 0px;
  margin-bottom: 0px;
  margin-top: -10px;
}

.card-form-link-btn {
  border: none;
  background-color: white;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 8px;
  padding-top: 8px;
  font-size: 16px;
  font-weight: 400;
  float: right;
  margin-top: 7px;
  margin-bottom: 20px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

.card-form-link-btn:focus {
  outline: none;
}

.card-form-link-btn:hover {
  border-radius: 5px;
  background-color: rgba(112, 112, 112, 0.06);
  cursor: pointer;
}

.card-form-social-media-modal-footer {
  width: 100%;
  margin-top: 10px;
}

.card-form-social-media-save {
  width: 80px;
  height: 30px;
  background-color: #2ecc71;
  border-radius: 5px;
  color: white;
  border: none;
  float: right;
}

.card-form-social-media-save:hover {
  outline: none;
  background-color: #2bc16b;
  cursor: pointer;
}

.card-form-social-media-save:focus {
  outline: none !important;
}

.card-form-social-media-save:active {
  outline: none !important;
}

.card-form-no-social-media-links {
  margin-top: 40px;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 15px;
  font-weight: 600;
}

.card-form-payment-method-wrapper {
  width: 100%;
  height: 45px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  padding: 13px 10px;
  padding-left: 40px;
  font-weight: 500;
  font-size: 14px;
  float: left;
  font-family: "Montserrat", sans-serif;
}

.card-form-gallery-slider-container {
  margin-top: 30px;
  width: 100%;
}

.card-form-gallery-slider {
  border-radius: 5px;
}

.carousel-caption {
  left: 85% !important;
}

.card-form-gallery-slider-image-delete-btn {
  width: 35px;
  height: 35px;
  background: #2ecc71;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 210px;
}

.card-form-gallery-slider-image-delete-btn:hover {
  cursor: pointer;
}

.card-form-path-to-card-container {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.card-form-path-to-card-url {
  position: relative;
  top: 10px;
  margin-right: 10px;
}

.card-form-path-to-card-input {
  width: 100%;
  height: 40px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  align-self: flex-end;
  margin-left: 10px;
  font-weight: 500;
}

.card-form-path-to-card-input:focus {
  outline: none;
}

.card-form-path-error-text {
  margin-top: 10px;
  margin-bottom: 0 !important;
  width: 100%;
  text-align: right;
  color: red;
}

.card-form-offering-image {
  object-fit: cover;
  width: 100%;
  height: auto;
  max-height: 45px;
}

.card-form-offering-image-container {
  margin-top: 10px !important;
  width: 100%;
}

.card-form-offerings-header-btn-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding: 10px;
  border-radius: 5px;
}

.card-form-offerings-header-btn-container:hover {
  cursor: pointer;
  background-color: rgba(112, 112, 112, 0.06);
}

.card-form-accordion-icon-container {
  background: rgba(46, 204, 113, 0.25);
  border-radius: 50%;
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
}

.card-form-offering-title-header {
  font-weight: 600 !important;
}

.card-form-offering-image-slider-btns-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 10px;
}

.card-form-empty-offering-title-placeholder {
  color: #a3a3a3;
}

.card-form-placeholder-color {
  color: #a3a3a3;
}

.card-form-social-media-placeholder-color {
  color: white;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
}

.card-form-social-media-dropdown .css-1wa3eu0-placeholder {
  width: 100%;
}

#card-form-edit-image-dropdown {
  -webkit-box-shadow: 0px 5px 0px -1px #cdcdd2 !important;
  -moz-box-shadow: 0px 5px 0px -1px #cdcdd2 !important;
  box-shadow: 0px 5px 0px -1px #cdcdd2 !important;
  border: 1px solid #d1d2d5 !important;
}

.card-form-social-media-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding-left: 2px;
  font-size: 16px;
}

@media only screen and (max-width: 650px) {
  .card-form-wrapper {
    width: 100%;
    padding: 20px 0px 20px 0px;
  }

  .card-form-backdrop-image-container {
    width: 100%;
    max-width: 100%;
  }

  .card-form-business-image-container {
    width: 100%;
    max-width: 100%;
  }

  .card-form-container {
    width: 95%;
    max-width: 100%;
  }

  .card-form-button {
    text-align: center !important;
  }

  .card-form-button-text {
    width: 100% !important;
    text-align: center !important;
    color: #ffffff;
    font-weight: 600;
  }
}
