.primary-color {
  color: #ff5349;
}

.primary-color-hover {
  color: #ff5349;
}

.primary-color-hover:hover {
  color: #eb4b42;
}

.primary-color:hover {
  color: #eb4b42;
}

.primary-color-bg {
  background-color: #ff5349;
}

.primary-light {
  color: #fff;
}

.primary-light-bg {
  background-color: #fff;
}

.secondary-light {
  color: #f6f7fb;
}

.secondary-light-bg {
  background-color: #f6f7fb;
}

.primary-dark {
  color: #191919;
}

.primary-dark-bg {
  background-color: #191919;
}

.secondary-dark {
  color: #2b2b2b;
}

.secondary-dark-bg {
  background-color: #2b2b2b;
}
