.page-loader-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.no-padding {
  padding: 0 !important;
}

.landing-page-wrapper {
  width: 100%;
  height: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  transition: 0.3s;
}

.landing-page-content-container {
  width: 100%;
  height: auto;
  padding: 0 60px 0 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.grid-container-home {
  display: grid;
  grid-template-columns: minmax(75px, 75px) 1fr 1fr;
  grid-template-areas: "sidetoolbar cardform cardshow";
}

.card-form-col-wrapper {
  grid-area: cardform;
}

.card-form-col-container {
  padding: 80px 20px 15px 20px;
}

.card-show-col-wrapper {
  grid-area: cardshow;
  border-left: 1px solid #d1d2d5;
}

.card-show-col-container {
  padding: 80px 20px 15px 20px;
}

.grid-container-settings {
  min-height: 100%;
  display: grid;
  grid-template-columns: minmax(75px, 75px) 1fr 1fr;
  grid-template-areas: "sidetoolbar user-settings subscription-settings";
}

.user-settings-col-wrapper {
  grid-area: user-settings;
}

.subscription-settings-col-wrapper {
  grid-area: subscription-settings;
  border-left: 1px solid #d1d2d5;
}

.user-settings-col-container {
  padding: 15px 20px 15px 20px;
}

.subscription-settings-col-container {
  padding: 15px 20px 15px 20px;
}

.grid-container-support {
  min-height: 100%;
  display: grid;
  grid-template-columns: minmax(75px, 75px) 1fr 1fr;
  grid-template-areas: "sidetoolbar support-form support-faq";
}

.support-form-col-wrapper {
  grid-area: support-form;
}

.support-form-col-container {
  padding: 15px 20px 15px 20px;
}

.support-faq-col-wrapper {
  grid-area: support-faq;
  border-left: 1px solid #d1d2d5;
}

.support-faq-col-container {
  padding: 15px 20px 15px 20px;
}

.public-card-page-wrapper {
  min-height: 100%;
  width: 100%;
  padding: 0px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  overflow-x: hidden !important;
}

.ReactModal__Overlay {
  z-index: 9999999 !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.public-card-image-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* width: 450px; */
  padding: 15px 15px 15px 15px;
  border-radius: 5px;
  border-bottom: 6px solid #cdcdd2;
}

.public-card-image-modal:focus {
  outline: none;
}

.public-card-gallery-image {
  width: 500px;
}

.public-card-image-modal-button {
  border: none;
  margin-top: 10px;
  background-color: white;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 8px;
  padding-top: 8px;
  font-size: 14px;
  font-weight: 400;
}

.public-card-image-modal-button:focus {
  outline: none;
}

.public-card-image-modal-button:hover {
  border-radius: 5px;
  background-color: rgba(112, 112, 112, 0.06);
  cursor: pointer;
}

.home-page-image-cropper-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  padding: 15px 15px 15px 15px;
  border-radius: 5px;
  border-bottom: 6px solid #cdcdd2;
}

.home-page-image-cropper-modal:focus {
  outline: none;
}

.public-card-image-modal-buttons-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.public-card-prev-button-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.public-card-next-button-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#nextButton {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 35px;
  min-width: 35px;
  background-color: rgba(46, 204, 113, 0.25);
  border: none;
}

#previousButton {
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 35px;
  min-width: 35px;
  background-color: rgba(46, 204, 113, 0.25);
  border: none;
}

#previousButton:focus,
#nextButton:focus {
  outline: none;
}

/* 770 breakpoint for the home page */
@media only screen and (max-width: 1100px) {
  .landing-page-content-container {
    padding: 0 30px 0 30px;
  }

  .grid-container-home {
    grid-template-columns: minmax(75px, 75px) 1fr;
    grid-template-areas:
      "sidetoolbar cardform"
      "sidetoolbar cardshow";
  }
  .card-show-col-wrapper {
    border: none;
  }
  .grid-container-settings {
    grid-template-columns: minmax(75px, 75px) 1fr;
    grid-template-areas:
      "sidetoolbar user-settings"
      "sidetoolbar subscription-settings";
  }
  .subscription-settings-col-wrapper {
    border: none;
  }

  .grid-container-support {
    grid-template-columns: minmax(75px, 75px) 1fr;
    grid-template-areas:
      "sidetoolbar support-form"
      "sidetoolbar support-faq";
  }

  .support-form-col-wrapper {
    border: none;
  }
}

@media only screen and (min-width: 1200px) {
  .public-card-page-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 650px) {
  .grid-container-home {
    grid-template-columns: 1fr;
    grid-template-areas:
      "cardform"
      "cardshow";
  }

  .card-form-col-container {
    padding: 80px 10px 15px 10px;
  }

  .card-show-col-container {
    padding: 20px 10px 80px 10px;
  }

  .grid-container-settings {
    min-height: auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "user-settings"
      "subscription-settings";
  }

  .user-settings-col-container {
    padding: 20px 10px 15px 10px;
  }

  .subscription-settings-col-container {
    padding: 20px 10px 80px 10px;
  }

  .grid-container-support {
    min-height: auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "support-form"
      "support-faq";
  }

  .support-form-col-container {
    padding: 20px 10px 15px 10px;
  }

  .support-faq-col-container {
    padding: 20px 10px 80px 10px;
  }
}

@media only screen and (max-width: 560px) {
  .public-card-gallery-image {
    width: 400px;
  }
}

@media only screen and (max-width: 450px) {
  .public-card-gallery-image {
    width: 350px;
  }
}

@media only screen and (max-width: 395px) {
  .public-card-gallery-image {
    width: 300px;
  }
}

@media only screen and (max-width: 350px) {
  .public-card-gallery-image {
    width: 250px;
  }
}
