.page-loader-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.no-padding {
  padding: 0 !important;
}

.landing-page-wrapper {
  width: 100%;
  height: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  transition: 0.3s;
}

.landing-page-content-container {
  width: 100%;
  height: auto;
  padding: 0 60px 0 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.grid-container-home {
  display: grid;
  grid-template-columns: minmax(75px, 75px) minmax(calc(50% - 75px), 1fr) minmax(
      calc(50% - 75px),
      1fr
    );
  grid-template-areas: "sidetoolbar cardform cardshow";
}

.card-form-col-wrapper {
  grid-area: cardform;
}

.card-form-col-container {
  padding: 80px 20px 15px 20px;
  justify-content: center;
  /* align-items: center; */
}

.card-show-col-wrapper {
  grid-area: cardshow;
  border-left: 1px solid #d1d2d5;
}

.card-show-col-container {
  padding: 80px 20px 15px 20px;
}

.grid-container-settings {
  min-height: 100%;
  display: grid;
  grid-template-columns: minmax(75px, 75px) 1fr 1fr;
  grid-template-areas: "sidetoolbar user-settings subscription-settings";
}

.user-settings-col-wrapper {
  grid-area: user-settings;
}

.subscription-settings-col-wrapper {
  grid-area: subscription-settings;
  border-left: 1px solid #d1d2d5;
}

.user-settings-col-container {
  padding: 15px 20px 15px 20px;
}

.subscription-settings-col-container {
  padding: 15px 20px 15px 20px;
}

.grid-container-support {
  min-height: 100%;
  display: grid;
  grid-template-columns: minmax(75px, 75px) 1fr 1fr;
  grid-template-areas: "sidetoolbar support-form support-faq";
}

.support-form-col-wrapper {
  grid-area: support-form;
}

.support-form-col-container {
  padding: 15px 20px 15px 20px;
}

.support-faq-col-wrapper {
  grid-area: support-faq;
  border-left: 1px solid #d1d2d5;
}

.support-faq-col-container {
  padding: 15px 20px 15px 20px;
}

.public-card-page-wrapper {
  min-height: 100%;
  width: 100%;
  padding: 0px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  overflow-x: hidden !important;
}

.ReactModal__Html--open,
.ReactModal__Body--open {
  overflow: hidden !important; /* prevents background page from scrolling when the modal is open */
}

.ReactModal__Overlay {
  z-index: 2000 !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.ReactModal__Content {
  overflow-y: auto;
  max-height: calc(80vh - 2rem);
}

/* 770 breakpoint for the home page */
@media only screen and (max-width: 1100px) {
  .landing-page-content-container {
    padding: 0 30px 0 30px;
  }

  .grid-container-home {
    grid-template-columns: minmax(75px, 75px) minmax(calc(50% - 75px), 1fr);
    grid-template-areas:
      "sidetoolbar cardform"
      "sidetoolbar cardshow";
  }

  .card-form-col-container {
    padding: 140px 10px 15px 10px;
  }

  .card-show-col-container {
    padding: 140px 10px 80px 10px;
  }

  .card-show-col-wrapper {
    border: none;
  }
  .grid-container-settings {
    grid-template-columns: minmax(75px, 75px) 1fr;
    grid-template-areas:
      "sidetoolbar user-settings"
      "sidetoolbar subscription-settings";
  }
  .subscription-settings-col-wrapper {
    border: none;
  }

  .grid-container-support {
    grid-template-columns: minmax(75px, 75px) 1fr;
    grid-template-areas:
      "sidetoolbar support-form"
      "sidetoolbar support-faq";
  }

  .support-form-col-wrapper {
    border: none;
  }
}

@media only screen and (min-width: 1200px) {
  .public-card-page-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 650px) {
  .grid-container-home {
    grid-template-columns: minmax(100%, 1fr);
    grid-template-areas:
      "cardform"
      "cardshow";
  }

  .card-form-col-container {
    padding: 130px 10px 80px 10px;
  }

  .card-show-col-container {
    padding: 130px 10px 80px 10px;
  }

  .grid-container-settings {
    min-height: auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "user-settings"
      "subscription-settings";
  }

  .user-settings-col-container {
    padding: 20px 10px 15px 10px;
  }

  .subscription-settings-col-container {
    padding: 20px 10px 80px 10px;
  }

  .grid-container-support {
    min-height: auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "support-form"
      "support-faq";
  }

  .support-form-col-container {
    padding: 20px 10px 15px 10px;
  }

  .support-faq-col-container {
    padding: 20px 10px 80px 10px;
  }
}
