.no-padding {
  padding: 0 !important;
}

.grid-container-home {
  min-height: 100%;
  display: grid;
  grid-template-columns: minmax(75px, 75px) 1fr 1fr;
  /* grid-template-rows: 1fr; */
  grid-template-areas: "sidetoolbar cardform cardshow";
}

.card-form-col-wrapper {
  grid-area: cardform;
}

.card-form-col-container {
  padding: 15px 20px 15px 20px;
}

.card-show-col-wrapper {
  grid-area: cardshow;
  border-left: 1px solid #d1d2d5;
}

.card-show-col-container {
  padding: 15px 20px 15px 20px;
}

.grid-container-settings {
  min-height: 100%;
  display: grid;
  grid-template-columns: minmax(75px, 75px) 1fr 1fr;
  /* grid-template-rows: 1fr; */
  grid-template-areas: "sidetoolbar user-settings subscription-settings";
}

.user-settings-col-wrapper {
  grid-area: user-settings;
}

.subscription-settings-col-wrapper {
  grid-area: subscription-settings;
  border-left: 1px solid #d1d2d5;
}

.user-settings-col-container {
  padding: 15px 20px 15px 20px;
}

.subscription-settings-col-container {
  padding: 15px 20px 15px 20px;
}

.grid-container-support {
  min-height: 100%;
  display: grid;
  grid-template-columns: minmax(75px, 75px) 1fr;
  /* grid-template-rows: 1fr; */
  grid-template-areas: "sidetoolbar support";
  background-color: aliceblue;
}

.support-wrapper {
  grid-area: support;
}

.support-container {
  padding: 15px 20px 15px 20px;
}

.public-card-page-wrapper {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

/* 770 breakpoint for the home page */
@media only screen and (max-width: 1000px) {
  .grid-container-home {
    grid-template-columns: minmax(75px, 75px) 1fr;
    grid-template-areas:
      "sidetoolbar cardform"
      "sidetoolbar cardshow";
  }
  .card-show-col-wrapper {
    border: none;
  }
  .grid-container-settings {
    grid-template-columns: minmax(75px, 75px) 1fr;
    grid-template-areas:
      "sidetoolbar user-settings"
      "sidetoolbar subscription-settings";
  }
  .subscription-settings-col-wrapper {
    border: none;
  }
}
