@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: local("Montserrat"),
    url(./assets/fonts/montserrat/Montserrat-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: local("Montserrat"),
    url(./assets/fonts/montserrat/Montserrat-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: local("Montserrat"),
    url(./assets/fonts/montserrat/Montserrat-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: local("Montserrat"),
    url(./assets/fonts/montserrat/Montserrat-Bold.ttf) format("truetype");
}

html,
body,
#root {
  margin: 0 !important;
  height: 100% !important;
  width: 100%;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #2f3640;
  background-color: #f6f7fb;
}

body {
  overflow-x: hidden !important;
}

.dropdown-menu {
  min-width: 100% !important;
}

.btn {
  border: none !important;
  outline: none !important;
}

.btn:focus {
  border: none !important;
  outline: none !important;
}

.btn-secondary {
  border: none !important;
  outline: none !important;
}

.btn-secondary:focus {
  border: none !important;
  outline: none !important;
}

.awssld__controls {
  visibility: visible !important;
}

.awssld__controls__arrow-left,
.awssld__controls__arrow-right {
  height: 30px !important;
}

.awssld__controls__arrow-right {
  margin-right: 20px;
}

.awssld__controls__arrow-left {
  margin-left: 20px;
}

.awssld {
  --organic-arrow-thickness: 3px !important;
  --loader-bar-color: #999696 !important;
  --organic-arrow-color: #797979 !important;
}
