html,
body,
#root {
  margin: 0 !important;
  height: 100% !important;
  width: 100%;
  max-width: 100%;
  font-family: "Poppins", sans-serif !important;
  font-weight: 500;
  color: #2f3640;
  background-color: #f6f7fb;
}

body {
  overflow-x: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
label,
div,
span {
  /* margin: 0 !important; */
  font-family: "Poppins", sans-serif !important;
}

.dropdown-menu {
  min-width: 100% !important;
}

.btn {
  border: none !important;
  outline: none !important;
}

.btn:focus {
  border: none !important;
  outline: none !important;
}

.btn-secondary {
  border: none !important;
  outline: none !important;
}

.btn-secondary:focus {
  border: none !important;
  outline: none !important;
}

.awssld__controls {
  visibility: visible !important;
}

.awssld__controls__arrow-left,
.awssld__controls__arrow-right {
  height: 30px !important;
}

.awssld__controls__arrow-right {
  margin-right: 20px;
}

.awssld__controls__arrow-left {
  margin-left: 20px;
}

.awssld {
  --organic-arrow-thickness: 3px !important;
  --loader-bar-color: #999696 !important;
  --organic-arrow-color: #797979 !important;
}
