html,
body,
#root {
  margin: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #2F3640;
  background-color: #f6f7fb;
}

.dropdown-menu {
  min-width: 100% !important;
}

.btn {
  border: none !important;
  outline: none !important;
}

.btn:focus {
  border: none !important;
  outline: none !important;
}

.btn-secondary {
  border: none !important;
  outline: none !important;
}

.btn-secondary:focus {
  border: none !important;
  outline: none !important;
}
