.primary-font {
  font-family: "Montserrat", sans-serif !important;
}

.selected {
  background-color: rgba(46, 204, 113, 0.25);
}

.sidetoolbar {
  grid-area: sidetoolbar;
  border-right: 1px solid #d1d2d5;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  z-index: 2000 !important;
}

.sidetoolbar-icons-container {
  position: fixed;
}

.sidetoolbar-icon-wrapper {
  display: flex;
  align-items: center;
  justify-self: center;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

.sidetoolbar-icon {
  display: block;
  margin: auto;
}

.sidetoolbar-icon:hover {
  cursor: pointer;
}

.bottomtoolbar {
  border-top: 1px solid #d1d2d5;
  width: 100%;
  height: 60px;
  padding-right: 15px;
  padding-left: 15px;
  z-index: 2000 !important;
  position: fixed;
  bottom: 0px;
  display: none;
  justify-content: center;
  align-items: center;
}

.bottomtoolbar-icons-container {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.bottomtoolbar-icon-wrapper {
  display: flex;
  align-items: center;
  justify-self: center;
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

.bottomtoolbar-icon {
  display: block;
  margin: auto;
}

.bottomtoolbar-icon:hover {
  cursor: pointer;
}

@media only screen and (max-width: 650px) {
  .sidetoolbar {
    display: none;
  }

  .bottomtoolbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content {
    font-size: 16px !important;
  }
}
