.auth-card {
  padding: 35px 35px 35px 35px;
  width: 420px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 0px -1px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0px 5px 0px -1px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 5px 0px -1px rgba(0, 0, 0, 0.17);
}

.auth-footer {
  width: 420px;
  text-align: center;
  align-self: flex-end;
  margin-top: 25px;
}

.auth-footer-link {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}

.auth-footer-link:hover {
  color: #eb4b42;
  text-decoration: none;
}

.sidetoolbar {
  grid-area: sidetoolbar;
  border-right: 1px solid #d1d2d5;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.toptoolbar {
  border-bottom: 1px solid #d1d2d5;
  width: 100%;
  height: 60px;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.toptoolbar-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-self: center;
  width: 100%;
}

.toptoolbar-theme-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 30px;
  min-width: 30px;
  background-color: rgba(255, 83, 73, 0.3);
}

.toptoolbar-theme-icon-container:hover {
  cursor: pointer;
}

.toptoolbar-theme-icon:hover {
  cursor: pointer;
}

.theme-picker-animation-wrapper {
  width: 150px;
  height: 150px;
  position: absolute;
  z-index: 10000 !important;
}

.theme-picker {
  height: 150px;
  width: 150px;
  margin-left: 10px;
  padding: 10px 10px;
  position: absolute;
  z-index: 10000 !important;
  border-radius: 5px;
  border-top: 1px solid #d1d2d5;
  border-right: 1px solid #d1d2d5;
  border-left: 1px solid #d1d2d5;
  -webkit-box-shadow: 0px 5px 0px -1px #cdcdd2;
  -moz-box-shadow: 0px 5px 0px -1px #cdcdd2;
  box-shadow: 0px 5px 0px -1px #cdcdd2;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
}

.theme-picker-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "colorone colortwo colorthree"
    "colorfour colorfive colorsix"
    "colorseven coloreight colornine";
  grid-gap: 10px;
}

.theme-picker-color-one {
  grid-area: colorone;
}

.theme-picker-color-two {
  grid-area: colortwo;
}

.theme-picker-color-three {
  grid-area: colorthree;
}

.theme-picker-color-four {
  grid-area: colorfour;
}

.theme-picker-color-five {
  grid-area: colorfive;
}

.theme-picker-color-six {
  grid-area: colorsix;
}

.theme-picker-color-seven {
  grid-area: colorseven;
}

.theme-picker-color-eight {
  grid-area: coloreight;
}

.theme-picker-color-nine {
  grid-area: colornine;
}

.theme-picker-color {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.theme-picker-color-selected {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 2px solid #d1d2d5;
}

.theme-picker-color:hover {
  cursor: pointer;
}

.public-toggle-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-left: 25px;
}

.public-toggle-label {
  position: relative;
  top: 4px;
  width: 55px;
  margin-right: 10px;
}

.public-toggle {
  margin-left: 10px;
}

.save-card-button-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.save-card-button {
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  position: relative;
  right: 0;
  background-color: rgba(255, 83, 73, 0.85);
  border-radius: 10px;
}

.selected {
  background-color: rgba(255, 83, 73, 0.3);
}

.sidetoolbar-icon-wrapper {
  display: flex;
  align-items: center;
  justify-self: center;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

.sidetoolbar-icon {
  display: block;
  margin: auto;
}

.sidetoolbar-icon:hover {
  cursor: pointer;
}

.card-form-wrapper {
  width: 100%;
  padding: 35px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 0px -1px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0px 5px 0px -1px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 5px 0px -1px rgba(0, 0, 0, 0.17);
  display: flex;
  justify-content: center;
  align-content: center;
}

.card-form-wrapper input, .card-form-wrapper textarea, .card-form-dropdown__control {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #2F3640;
  font-size: 15px;
  border-radius: 10px !important;
  background-color: rgba(112, 112, 112, .06) !important;

  
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #A3A3A3;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:    #A3A3A3;
 opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:    #A3A3A3;
 opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:    #A3A3A3;
}
::-ms-input-placeholder { /* Microsoft Edge */
 color:    #A3A3A3;
}

::placeholder { /* Most modern browsers support this now. */
 color:    #A3A3A3;
}

.card-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 80%;
}

.card-form-error-text {
  font-size: 18px;
}

.card-form-business-img-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-form-delete-business-img {
  margin-top: 15px;
}

.card-form-business-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.card-form-business-img:hover {
  cursor: pointer;
}

.card-form-file-button {
  display: none;
}

.card-form-file-label {
  margin-top: 15px;
  margin-bottom: 0px;
  width: 100%;
  height: 40px;
  background-color: rgba(255, 83, 73, 0.3);
  border: none;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.card-form-file-label:hover {
  cursor: pointer;
}

.card-form-input {
  margin-top: 30px;
  width: 100%;
  height: 40px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.card-form-input:focus {
  outline: none;
}

.card-form-location-fields {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  width: 100%;
}

.card-form-input-location {
  width: 48%;
  height: 40px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.card-form-input-location:focus {
  outline: none;
}

.card-form-dropdown-container {
  margin-top: 30px;
  width: 100%;
}

.card-form-dropdown__control {
  width: 100% !important;
  height: 45px !important;
  border: none !important;
}

.card-form-dropdown__single-value {
  color: #2F3640 !important;
}

.card-form-dropdown__option--is-disabled {
  color: #2F3640 !important;
}

.card-form-dropdown__option--is-selected {
  color: #ff5349 !important;
}

.card-form-dropdown:hover {
  background-color: rgba(255, 83, 73, 0.3) !important;
  color: #eb4b42;
}

.card-form-dropdown:focus {
  box-shadow: none !important;
  color: #eb4b42;
  outline: none;
}

.card-form-dropdown:active {
  color: #2F3640;
  border: 0 !important;
  outline: none !important;
}

.card-form-input-large {
  margin-top: 30px;
  width: 100%;
  height: 100px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.card-form-input-large:focus {
  outline: none;
}

.card-form-contact-fields {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  width: 100%;
}

.card-form-input-contact {
  width: 48%;
  height: 40px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.card-form-input-contact:focus {
  outline: none;
}

.card-form-button {
  margin-top: 30px !important;
  width: 100% !important;
  height: 40px !important;
  background-color: rgba(255, 83, 73, .85) !important;
  border: none !important;
  border-radius: 10px !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-content: center !important;
}

.card-form-button-text {
  width: 100% !important;
  text-align: center !important;
  color: #ffffff;
}

.card-form-button:hover {
  cursor: pointer;
}

.card-form-button-text:hover {
  cursor: pointer;
}

.card-form-products-services-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 30px;
  border: 1px solid #a3a3a349;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 0px -1px #cdcdd2;
  -moz-box-shadow: 0px 5px 0px -1px #cdcdd2;
  box-shadow: 0px 5px 0px -1px #cdcdd2;
  
}

.card-form-product-service-inputs-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.card-form-product-service-title-input {
  width: 100%;
  margin-top: 10px;
  margin-right: 10px;
  height: 40px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.card-form-product-service-price-input {
  width: 16%;
  margin-top: 10px;
  margin-left: 10px;
  height: 40px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.card-form-product-service-text {
  margin-left: 10px;
  position: relative;
  top: 18px;
  font-size: 18px;
}

.card-form-product-service-title-input:focus {
  outline: none;
}

.card-form-product-service-price-input:focus {
  outline: none;
}

.card-form-product-service-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: 10px;
}
.card-form-offering-button {
  border: none;
  background-color: white;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 8px;
  padding-top: 8px;
  font-size: 14px;
}

.card-form-offering-button:focus {
  outline: none;
}

.card-form-offering-button:hover {
  border-radius: 10px;
  background-color: rgba(112, 112, 112, .06);
}

#cardFormProductServiceDeleteBtn {
  margin-left: 10px;
}

.card-form-delete-offering-modal {
  height: 80px;
  width: 150px;
  margin-top: 100px;
  padding: 10px 10px;
  position: absolute;
  z-index: 1000000 !important;
  border-radius: 5px;
  border-top: 1px solid #d1d2d5;
  border-right: 1px solid #d1d2d5;
  border-left: 1px solid #d1d2d5;
  -webkit-box-shadow: 0px 5px 0px -1px #cdcdd2;
  -moz-box-shadow: 0px 5px 0px -1px #cdcdd2;
  box-shadow: 0px 5px 0px -1px #cdcdd2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
}

.card-form-delete-offering-modal-question {
  font-size: 15px;
}

.card-form-delete-offering-modal-button {
  margin: 10px;
  border: none;
  background: white;
  font-size: 14px;
  margin-bottom: 0 !important;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.card-form-delete-offering-modal-button:focus {
  outline: none;
}

.card-form-delete-offering-modal-button:hover {
  background-color: #a3a3a32f;
  border-radius: 7px;
}

.card-form-social-media-inputs-animation-wrapper {
  width: 100%;
}

.card-form-social-media-inputs-container {
  width: 100%;
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-form-social-media-input {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.card-form-social-media-input:focus {
  outline: none;
}

.card-form-gallery-slider-container {
  margin-top: 30px;
  width: 100%;
}

.card-form-gallery-slider {
  border-radius: 5px;
}

.card-form-gallery-slider-image-delete-btn {
  width: 35px;
  height: 35px;
  background: rgba(255, 83, 73, 0.3);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 10px;
}

.card-form-gallery-slider-image-delete-btn:hover {
  cursor: pointer;
}

.card-form-path-to-card-container {
  width: 100%;
  margin-top: 30px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.card-form-path-to-card-input {
  width: 100%;
  height: 40px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  align-self: flex-end;
  margin-left: 3px;
}

.card-form-path-to-card-input:focus {
  outline: none;
}

.card-form-path-to-card-url {
  position: relative;
  top: 10px;
  margin-right: 3px;
}

.card-wrapper {
  padding: 35px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 0px -1px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0px 5px 0px -1px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 5px 0px -1px rgba(0, 0, 0, 0.17);
  display: flex;
  justify-content: center;
  align-content: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
}

.card-business-link-container {
  width: 90%;
  max-width: 90%;
  height: 40px;
  border: none;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.card-business-link:hover {
  text-decoration: none;
}

.card-business-img-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-business-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.card-business-name {
  text-align: center;
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}

.card-business-location-container {
  display: flex;
  flex-direction: row;
}

.card-business-location-container > i {
  margin-top: 6px;
  padding-top: 4px;
}

.card-business-location-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-top: 0px;
}

.card-business-location-text {
  margin-bottom: 2px;
  margin-top: 2px;
  margin-left: 5px;
}

.card-business-industry-container {
  display: flex;
  flex-direction: row;
}

.card-business-industry-container > i {
  margin-top: 5px;
  padding-top: 4px;
}

.card-business-industry {
  text-align: center;
  margin-top: 2px;
  margin-left: 5px;
}

.card-business-services {
  text-align: center;
  margin-top: 30px;
  font-size: 18px;
  font-weight: 600;
  width: 80%;
}

.card-business-products-services-container {
  margin-top: 15px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-business-product-service-container {
  margin-top: 25px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  border-radius: 20px; 
  word-wrap: break-word;
  -webkit-box-shadow: 0px 5px 0px -1px #cdcdd2;
  -moz-box-shadow: 0px 5px 0px -1px #cdcdd2;
  box-shadow: 0px 5px 0px -1px #cdcdd2;
}

.card-business-product-service-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 18px;
  font-weight: 700;
}

.card-business-product-service-title {
  margin-bottom: 10px;
}

.card-business-product-service-description {
  
}

.card-business-product-service-price {
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.wordwrap { 
  white-space: pre-wrap;      /* CSS3 */   
  white-space: -moz-pre-wrap; /* Firefox */    
  white-space: -pre-wrap;     /* Opera <7 */   
  white-space: -o-pre-wrap;   /* Opera 7 */    
  word-wrap: break-word;      /* IE */
}

.card-business-contact-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 30px;
  width: 80%;
}

.card-business-contact-detail {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.card-business-contact-text:hover {
  text-decoration: none;
  color: "#000" !important;
}

.card-business-contact-detail-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 20px;
  height: 45px;
  width: 45px;
}

#cardBusinessContactDetailEmail {
  margin-top: 25px;
}

.card-business-gallery-slider-container {
  margin-top: 15px;
  width: 80%;
  border-radius: 15px;
}

.card-business-social-media-links-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60%;
  margin-top: 10px;
}

.card-business-social-media-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  padding-left: 4px;
  margin: 15px;
}

a > i {
  text-decoration: none !important;
}

.card-business-badges-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px;
  margin-bottom: 15px;
}

.card-business-badge {
  margin-left: 10px;
  margin-bottom: 0px;
  margin-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 4px;
  padding-top: 3px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

.industry-grid-container {
  grid-area: industry;
  text-align: center;
}

.location-grid-container {
  grid-area: location;
  text-align: center;
}


.card-business-contact-us-container {
  width: 80%;
  margin-top: 40px;
}

.card-business-products-services-title-text {
  width: 80%;
  font-size: 18px;
  font-weight: 700;
  margin-top: 40px;
  margin-left: 40px;
}

.edit-image-dropdown, .edit-image-dropdown > .icon {
  background-color: rgba(255, 83, 73, 0.85) !important;
  color: white !important;
  font-weight: 600 !important;
}

.file-upload {
  opacity: 0.0;

  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

  /* IE 5-7 */
  filter: alpha(opacity=0);

  /* Netscape or and older firefox browsers */
  -moz-opacity: 0.0;

  /* older Safari browsers */
  -khtml-opacity: 0.0;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height:100%;
}

.file-upload:hover {
  cursor: pointer;
}

.primary-font {
  font-family: 'Montserrat', sans-serif !important;
}